body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    background-color:skyblue;
}
h2{
    position: absolute;
    top: 0%;
    bottom: 40%;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 2px solid;
    border-radius: 25px;
    width: 25vw;
    text-align: center;
    align-items: center;
    height: 2vh;
    padding: 30px;
    background-color: #161212;
    color: white;
    font-style: italic;
}
.calculator {margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    width: fit-content;
}

input.input {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    width: 90%;
    background-color: lightgrey;
    text-align: right;
    font-size: 1.5em;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 60px;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.button {
    background-color: lightgrey;
    border: 2px solid #ccc;
    border-radius: 12px;
    cursor: pointer;
    text-align: center;
    font-size: 1.2em;
    width: 60px;
    height: 60px;
    margin: 5px;
}

